.blockImageFlat{
    width: 90%;
    height: 75%;
    margin-top: 10%;
    display: block;
    border-radius: 2%;
    position: relative;
}

.blockImageFlat:hover{
    color: var(--third-color);
    scale: 1.1;
    transition: 0.3s;
}