:root{
    --main-color: skyblue;
    --second-color:antiquewhite;
    --third-color: rgb(43, 70, 80, 1);
}


*{
    margin:0px;
    padding: 0px;
    font-family: "Concert One", sans-serif;
}

body{
    background: linear-gradient(to top,var(--second-color), var(--main-color));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    width:auto;
    Height:120px;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 120px;
    z-index: 1;
    transition: 0.5s;
}

header.scroll{
    position: sticky;
    top: -120px;
    left: 0;
    height: 120px;
    z-index: 1;
    transition: 0.5s;
}

nav{
    position:absolute;
    left: 20%;
    bottom: 20px;
    width: 80%;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.box{
    height: 500px;
}
.banner{
    animation:mySlide;
    animation-duration: 4s;
    animation-timing-function: ease-in-out
}

#bannerLogo{
    position: relative;
    height:120px;
}

.bannerButton{
    height: 60px;
    width: 100px;
    text-align: center;
    font-size: 22px;
    color: var(--third-color) ;
    background-color: var(--second-color);
    border-radius: 10px;
}

.bannerButton:hover{
    background-color: var(--third-color);
    color: var(--second-color);
    cursor: pointer;
    transition: 0.3s;
}

#blogButton{
    left: 18%;
}

#signUpButton{
    left: 90%;
}





@keyframes mySlide{
    from{margin-left: 100%}
    to{margin-left:0%}
}