:root{
    --main-color: skyblue;
    --second-color:antiquewhite;
    --third-color: rgb(43, 70, 80, 1);
}


*{
    margin:0px;
    padding: 0px;
    font-family: "Concert One", sans-serif;
}

body{
    /* background: linear-gradient(to top,var(--second-color), var(--main-color)); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: antiquewhite;
}

li{
    text-decoration: none;
}



h1{
    text-align: center;
    font-size: 128px;
    color: var(--third-color);
    text-shadow: 8px 2px 5px var(--main-color);
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--third-color); */
}

h2{
    font-size: 80px;
    text-shadow: 8px 2px 5px var(--main-color);
}

h3{
    font-size: 64px;
}

p{
    font-size: 24px;
}

#logoAnimation{
    align-self: center;
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 40%;
}

img{
    object-fit: cover;
}

a{
    text-decoration: none;
}



