header{
    width:auto;
    Height:120px;
    top: 0;
    left: 0;
    border-bottom: 120px;
    z-index: 1;
    transition: 0.5s;
    background: linear-gradient(to top right,var(--second-color), var(--main-color));
}

header.scroll{
    position: sticky;
    top: -120px;
    left: 0;
    height: 120px;
    z-index: 1;
    transition: 0.5s;
}

nav{
    flex-direction: row;
    display: flex;
    width:95%;
}

nav ul{
    display: flex;
    list-style: none;
    width:100%;
    justify-content: space-around;
    align-items: center;
}

.headerLink
{
    font-size: 32px;
    text-decoration: none;
    color: var(--third-color);
    /* text-transform: uppercase; */
    text-shadow: 2px 2px 1px var(--second-color);
}

.headerLink::after{
    content: '';
    display:block;
    width: 0;
    height: 4px;
    background: var(--third-color);
    transition: width 0.3s;
}

.headerLink:hover::after{
    width: 100%;
    transition: width 0.3s;
}
.blankspace{
    height: 200px;
}

.banner{
    margin-right: 2%;
    height:100%;
    display: flex;
}

#bannerLogo{
    position: relative;
    display: block;
    height: 100%;
    margin-right: 2%;

}

.imageContainer{
    height:100%;
    width: fit-content;
}






/* @keyframes mySlide{
    from{margin-left: 90%;}
    to{margin-left:0%}
} */